@import "../scss/helpers/base";

.calculator {
  background: $clr-primary-900;
  border-radius: toRem(20);
  margin: 0 auto;
  gap: 1.5rem;
  padding: toRem(32);
  padding: toRem(16);
  text-align: left;
  @include layout(flex, $justify: space-between, $direction: column);

  @include maxWidth(1152px);
}

@media only screen and (min-width: 1024px) {
  .calculator {
    gap: 0;
    @include layout($direction: row);
  }
}

.calculator__input {
  padding: toRem(16);
  gap: toRem(24);
  @include layout(flex, $direction: column, $justify: space-between);
}

@media only screen and (min-width: 1024px) {
  .calculator__input {
    gap: 0;
  }
}

.calculator__tip-selections {
  gap: toRem(16);
  grid-template-columns: repeat(2, 147px);
  @include layout(grid);
}

@media only screen and (min-width: 1024px) {
  .calculator__tip-selections {
    grid-template-columns: repeat(3, 147px);
  }
}

.calculator__tip-selection--custom {
  @extend %button;
  color: white;

  ::placeholder {
    color: white;
  }
}

.calculator__results {
  background: $clr-primary-300;
  border-radius: toRem(20);
  height: 400px;
  padding: toRem(32);
  @include layout(flex, $direction: column, $justify: space-between);
  @include maxWidth(544px);
}

@media only screen and (min-width: 1024px) {
  .calculator__results {
    height: 535px;
  }
}

.calculator__results h2 {
  color: $clr-primary-900;
}

.calculator__result {
  @include layout(flex, $align: center);
}

.calculator__reset {
  background-color: $clr-primary-600;
  color: $clr-primary-300;
  max-width: 100%;
  text-transform: uppercase;
}

.calculator__total {
  color: $clr-primary-600;
  font-size: toRem(64);
  margin-left: auto;
}
